<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/admin-style.css" />
        <script src="scripts/admin/productslist.js"></script>
        <%- include('./partials/bootstrap'); %>
        <title>Products List</title>
    </head>

    <body>
        <%- include('./partials/nav'); %>
        <div id="list--container" class="container">
            <div id="table--container">
                <h1>Products</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ფოტო</th>
                            <th scope="col">დასახელება</th>
                            <th scope="col">ფასი</th>
                            <th scope="col">კატეგორია</th>
                            <th scope="col">მარაგშია</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach( prod => { %>
                        <tr>
                            <th scope="row"><%= prod._id %></th>
                            <td>
                                <img
                                    class="img-responsive img-thumbnail"
                                    src="data:image/png;base64,<%= new Buffer(prod.imgBuffer).toString('base64') %>"
                                />
                            </td>
                            <td class="title"><p><%= prod.title %></p></td>
                            <td><%= prod.price %> ₾</td>
                            <td
                                class="category-id"
                                value="<%= prod.category %>"
                            ></td>
                            <td class="inStock">
                                <span
                                    class="fas fa-check-circle"
                                    value="<%= prod.inStock %>"
                                ></span>
                            </td>
                            <td class="actions">
                                <span
                                    data-action="edit"
                                    data-id="<%= prod._id %>"
                                    class="fas fa-edit"
                                ></span>
                                <span
                                    data-action="delete"
                                    data-id="<%= prod._id %>"
                                    class="fas fa-trash-alt"
                                ></span>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <div class="d-flex flex-row-reverse">
                    <button id="addProd" type="button" class="btn btn-success">
                        დამატება
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
