<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="css/admin-style.css">
        <title>Document</title>
    </head>
    <body>
        <% products.forEach( prod => { %> 
            <div style="display:flex;">
            <div>
                <img style="max-width:300px;" src="data:image/png;base64,<%= new Buffer(prod.imgBuffer).toString('base64') %>"/>
            </div>
            <div>
                დასახელება: <%= prod.title %>
                </br>
                აღწერა: <%= prod.description %>
                </br>
                ფასი <%= prod.price %>$
                </br>
                მარაგშია: <%= prod.inStock %>
            </div>
            </div>
        <% })%>
    </body>
</html>
